
body {
    overflow: hidden;
}

#root {
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

html, body, #root {
    font-family: 'Arbutus Slab', serif !important;
}

.right {
    text-align: right;
}

.centered-title {
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin-bottom: 5px;
}

body {
    background-color: #2F4858;
    color: #BDD5EA;
    height: 100%;
}

.devbar {
    margin: 0;
    display: flex;
    justify-content: center;
}

.devbar-link, a {
    margin: 0 20px;
    color: #F6AE2D;
    font-size: 32px;
    text-decoration: initial;
    transition: color 0.4s;
    background-color: initial !important;
    border: 0;
    box-shadow: initial !important;
    outline: none !important;
    padding: 0px;
}

.devbar-link :hover, .devbar-link :active, .devbar-link :focus {
    color: #BDD5EA;
    text-decoration: initial;
    box-shadow: initial !important;
}

.devbar-dropdown {
    background-color: whitesmoke; 
}

.addpage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.addpage #button-submit {
    background-color: #33658A;
    border-color: #2c6591;
}
.addentry {
    margin: 15px;
}


.view-ul {
    background-color: #33658A;
    font-size: 24px;
}

.view-ul li span {
    padding: 20px;
    border-left: 1px solid #BDD5EA;
}

.view-li {
    padding: 17px;
}